@charset "utf-8";

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--pseudo ::after, ::before;

// ************************************************************************************
// * Global

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

article, aside, footer, header, nav, section {
  display: block;
}

@font-face {
  font-family: "Neuzeit-Book";
  src: url(../../static/fonts/d741af6b-26f4-4e34-b55d-432ccade3280.woff2)
      format("woff2"),
    url(../../static/fonts/77aaeb7b-86f4-47a1-8196-74a660dd0919.woff)
      format("woff"),
    url(../../static/fonts/efdf74e6-bfd4-466d-93fd-4f8f4d55b80c.ttf)
      format("ttf");
}

html {
  -webkit-font-smoothing: antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased;
}

.bold {
  font-weight: bolder;
}

body#container {
  font-family: Neuzeit-Book, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
  color: #282828;
  letter-spacing: .02em;
  background: #EBEBEB;
  margin: 0 auto;
  height: 100vh;

  #react-mount {
    max-width: 768px;
    margin: 0 auto;
    display: block;
  }

  header#header {
    h1 a, h2, nav a {
      transition: color ease .7s;
      transition: font-family ease .7s;
    }

    .logo {
      text-align: center;
    }
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
  }

  .notHome canvas {
    opacity: 0.25 !important;
    transition: opacity 1s ease-out;
  }
}

h3, p {
  font-size: 14px;
  line-height: 1.4em;
  font-family: Neuzeit-Book, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
}

h2 {
  margin-top: 0;
}

h3 {
  letter-spacing: .06em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #282828;
  line-height: 1em;
  text-decoration: none;
}

.content {
  padding: 2em 4em;

  @media only screen and (max-width: 476px) {
    padding: 2em;
    font-size: 0.85em;
  }
}

.home {
  height: 100vh;
  overflow: hidden;
}

// ************************************************************************************
// * Header

header#header {
  z-index: 99;
  position: relative;
  padding-top: 30px;

  @media only screen and (max-width: 476px) {
    padding-top: 15px;
  }

  a {
    color: #282828;

    &:hover, :active {
      opacity: 0.5;
    }

    @media only screen and (max-width: 476px) {
      font-size: 0.9em;
    }
  }

  .site-title {
    display: none;
  }

  .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;

    &.hide {
      display: none;
    }

    h1 {
      text-align: center;
      margin: 0;
      font-size: 1.5em;
      font-weight: 500;
      color: #202020;
      opacity: .66;
      padding: 1em;
    }
  }
}

// ************************************************************************************
// * Animations

.swoosh {
  -webkit-animation: swoosh 1000ms ease-out both;
  animation: swoosh 1000ms ease-out both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/TuHAC6 */
@-webkit-keyframes swoosh {
  0% {
    -webkit-transform: matrix3d(
      1.65,
      0,
      0,
      0,
      0,
      1.65,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.65, 0, 0, 0, 0, 1.65, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.0;
  }
  5.71% {
    -webkit-transform: matrix3d(
      1.625,
      0,
      0,
      0,
      0,
      1.625,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.625, 0, 0, 0, 0, 1.625, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(
      1.365,
      0,
      0,
      0,
      0,
      1.365,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.365, 0, 0, 0, 0, 1.365, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.02% {
    -webkit-transform: matrix3d(
      1.191,
      0,
      0,
      0,
      0,
      1.191,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.5;
  }
  22.62% {
    -webkit-transform: matrix3d(
      1.087,
      0,
      0,
      0,
      0,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.087, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(
      1.027,
      0,
      0,
      0,
      0,
      1.027,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.027, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.93% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      0.998,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.15% {
    -webkit-transform: matrix3d(
      0.983,
      0,
      0,
      0,
      0,
      0.983,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.983, 0, 0, 0, 0, 0.983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.57% {
    -webkit-transform: matrix3d(
      0.996,
      0,
      0,
      0,
      0,
      0.996,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes swoosh {
  0% {
    -webkit-transform: matrix3d(
      1.65,
      0,
      0,
      0,
      0,
      1.65,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.65, 0, 0, 0, 0, 1.65, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.0;
  }
  5.71% {
    -webkit-transform: matrix3d(
      1.625,
      0,
      0,
      0,
      0,
      1.625,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.625, 0, 0, 0, 0, 1.625, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  11.31% {
    -webkit-transform: matrix3d(
      1.365,
      0,
      0,
      0,
      0,
      1.365,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.365, 0, 0, 0, 0, 1.365, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.02% {
    -webkit-transform: matrix3d(
      1.191,
      0,
      0,
      0,
      0,
      1.191,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.191, 0, 0, 0, 0, 1.191, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 0.5;
  }
  22.62% {
    -webkit-transform: matrix3d(
      1.087,
      0,
      0,
      0,
      0,
      1.087,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.087, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(
      1.027,
      0,
      0,
      0,
      0,
      1.027,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(1.027, 0, 0, 0, 0, 1.027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.93% {
    -webkit-transform: matrix3d(
      0.998,
      0,
      0,
      0,
      0,
      0.998,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.15% {
    -webkit-transform: matrix3d(
      0.983,
      0,
      0,
      0,
      0,
      0.983,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.983, 0, 0, 0, 0, 0.983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.57% {
    -webkit-transform: matrix3d(
      0.996,
      0,
      0,
      0,
      0,
      0.996,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1
    );
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.fade {
  -webkit-animation: fade 1000ms ease-out both;
  animation: fade 1000ms ease-out both;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

.singleFade-enter {
  opacity: 0.01;
}

.singleFade-enter.singleFade-enter-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.singleFade-leave {
  opacity: 1;
}

.singleFade-leave.singleFade-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

.singleFade-appear {
  opacity: 0.01;
}

.singleFade-appear.singleFade-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease-out;
}
